registry=http://rpm.femaledaily.com/repository/fdn-group/
rpm.femaledaily.com/repository/fdn-group/:_authToken=NpmToken.2b08af7c-5a84-34e9-b2c5-bad8fc201dd1
email=ageng@femaledaily.com
always-auth=true
_auth="YmFuY2FkOmJhbmdzYXQxMg=="
